<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form id="js-form-registration" action="user" method="post">
    <fieldset>
        <legend>Employee registration form</legend>
        <section>
            <label for="fname">First name:</label>
            <input type="text" name="fname" id="js-fname">
        </section>

        <section>
            <label for="lname" Last name:></label>
            <input type="text" name="lname" id="js-lname">
        </section>

        <section>
            <label for="email">Email:</label>
            <input type="email" name="email" id="js-email">
        </section>

        <section>
            <label for="dob">Date of birth:</label>
            <input type="date" name="dob" id="js-dob">
        </section>

        <section>
            <input type="radio" name="js-sex" id="js-sex-m" value="male">
            <label for="sex_m">Male</label>
            <input type="radio" name="js-sex" id="js-sex-f" value="female">
            <label for="sex_f">Female</label>
        </section>

        <section>
            <label for="position">Job type:</label>
            <select name="position" id="js-position">
                <option value="se">Software Developer</option>
                <option value="st">Software Tester</option>
            </select>
        </section>

        <section id="js-favorite-os">
            <div>Favorite OS</div>
            
            <input id="linux" name="js-os" type="radio" value="linux">
            <label for="linux">Linux</label>
            
            <input id="osx" name="js-os" type="radio" value="osx">
            <label for="osx">OS X</label>
            
            <input id="win" name="js-os" type="radio" value="win">
            <label for="win">Windows</label>
        </section>

        <section id="js-frameworks">
            <div>Framework used</div>

            <label for="angular">Angular</label>
            <input id="angular" type="checkbox" value="angular">

            <label for="react">React</label>
            <input id="react" type="checkbox" value="react">

            <label for="vue">Vue</label>
            <input id="vue" type="checkbox" value="vue">
        </section>

        <section>
            <label for="comments">Comments</label>
            <textarea name="comments" id="js-comments" cols="30" rows="10"></textarea>
        </section>

        <section>
            <input type="submit" value="Save employee data" id="js-submit-form">
        </section>
    </fieldset>
</form>