
<section class="section">
    <div class="container">
         <h1 class="title is-1 has-text-centered">{{title}}</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <form id="js-form-registration" class="box" action="user" method="post">
                    <div class="field">
                        <label class="label" for="fname">First name:</label>
                        <div class="control">
                            <input class="input" type="text" name="fname" id="js-fname" placeholder="First name">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="lname"> Last name</label>
                        <div class="control">
                            <input class="input" type="text" name="lname" id="js-lname" placeholder="Last name">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="email">Email:</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" name="email" id="js-email" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="dob">Date of birth:</label>
                        <div class="control">
                            <input class="input" type="date" name="dob" id="js-dob">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Sex:</label>
                        <div class="control">
                            <label class="radio" for="sex_m">
                                <input type="radio" name="js-sex" id="js-sex-m" value="male"> Male
                            </label>

                            <label class="radio" for="sex_f">
                                <input type="radio" name="js-sex" id="js-sex-f" value="female"> Female
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="position">Job type:</label>
                        <div class="control">
                            <div class="select">
                                <select name="position" id="js-position">
                                    <option value="se">Software Developer</option>
                                    <option value="st">Software Tester</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="js-favorite-os" class="field">
                        <label class="label">Favorite OS</label>
                        <div class="control">
                            <label class="radio" for="linux">
                                <input id="linux" name="js-os" type="radio" value="linux"> Linux
                            </label>

                            <label class="radio" for="osx">
                                <input id="osx" name="js-os" type="radio" value="osx"> OS X
                            </label>

                            <label class="radio" for="win">
                                <input id="win" name="js-os" type="radio" value="win"> Windows
                            </label>
                        </div>
                    </div>

                    <div id="js-frameworks" class="field">
                        <div class="label">Framework used</div>
                        <div class="control">
                            <label class="checkbox" for="angular">
                                <input id="angular" type="checkbox" value="angular"> Angular
                            </label>

                            <label class="checkbox" for="react">
                                <input id="react" type="checkbox" value="react"> React
                            </label>

                            <label class="checkbox" for="vue">
                                <input class="" id="vue" type="checkbox" value="vue"> Vue
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="comments">Comments</label>
                        <textarea class="textarea" name="comments" id="js-comments" cols="30" rows="10"></textarea>
                    </div>

                    <div>
                        <div class="control is-group-center">
                            <input class="button is-primary" type="submit" value="Save employee data" id="js-submit-form">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>