<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-header-title is-center">User info</div>
        </div>
        <div class="card-content">
            <div class="no-display js-one is-one">
                <h1>First Name: {{fname}}</h1>
            </div>
            <div class="no-display js-two is-two">
                <h2>Last Name: {{lname}}</h2>
            </div>
            <div class="no-display js-three is-three">
                <h3>Email: {{email}}</h3>
            </div>
            <div class="no-display js-four">
                <h4>Date of birth: {{dob}}</h4>
            </div>
        </div>
    </div>
</div>